{
  "extends": ["kentcdodds", "kentcdodds/jsx-a11y", "plugin:react/recommended"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
